@{
    ViewBag.Title = "Tour Collection";
    string txtSearch = ViewBag.txtSearch;
}
<link href="~/web/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="~/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="~/web/js/jquery.min.js"></script>
<script src="~/web/js/responsiveslides.min.js"></script>
<!-- Blog -->
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container" style="margin-top: 50px;">
            <div class="d-flex justify-content-between align-items-center">
                <h2>@*Tour List*@</h2>
                <ol>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>Tour Collection</li>
                </ol>
            </div>
            <div class="blog">
                <div class="blog-content">
                    <div class="blog-content">
                        <div class="blog-articals">
                            @foreach (var item in ViewBag.Tours)
                            {
                                <div class="blog-artical">
                                    <div class="blog-artical-info">
                                        <div class="blog-artical-info-img">
                                            <a href='@Url.Action("TourCollectionDetails", "Home",  new { TourId = item.TourCollectionID })'><img src="~/Images/Tour/@item.CollectionImage" title=@item.TourCollectionTitle></a>
                                        </div>
                                        <div class="blog-artical-info-head">
                                            <h2><a href='@Url.Action("TourCollectionDetails", "Home",  new { TourId = item.TourCollectionID })'>@item.TourCollectionTitle</a></h2>
                                            <h2><a href='@Url.Action("Tour", "Home",  new { collectionId = item.TourCollectionID })'>Collection's Tours List</a></h2>
                                            <h6>Posted on, @item.TourCollectionDate by <a href="#"> @item.UserId</a></h6>
                                        </div>
                                        <div class="blog-artical-info-text">
                                            <p>@item.TourCollectionDetails @Html.ActionLink("[...]", "TourCollectionDetails", new { TourId = item.TourCollectionID })</p>
                                        </div>
                                        <div class="artical-links">
                                            <ul>
                                                <li><small> </small><span>@item.CreatedCol_at</span></li>
                                                <li><a href="#"><small class="admin"> </small><span>@item.UserId</span></a></li>
                                                <li><a href="#"><small class="no"> </small><span>No comments</span></a></li>
                                                <li><a href='@Url.Action("TourCollectionDetails", "Home",  new { TourId = item.TourCollectionID })'><small class="posts"> </small><span>View posts</span></a></li>
                                                <li><a href="#"><small class="link"> </small><span>permalink</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                            }
                        </div>
                        <!--start-blog-pagenate-->
                        <div class="blog-pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @{ int position;
                                        int pageCurrent = ViewBag.pageCurrent;
                                        float numSize = ViewBag.numSize;
                                        if (pageCurrent > 1)
                                        {
                                            <li class="page-item">
                                                <a class="" href="@Url.Action("TourCollection", "Home", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent-1})" tabindex="-1">Previous</a>
                                            </li>
                                        }
                                        for (position = 1; position <= numSize; position++)
                                        {
                                            if (position == pageCurrent)
                                            {
                                                <li class="page-item active"><a class="" href="@Url.Action("TourCollection", "Home", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position})">@position</a></li>
                                            }
                                            else
                                            {
                                                <li class="page-item"><a class="" href="@Url.Action("TourCollection", "Home", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position})">@position</a></li>
                                            }
                                        }
                                        if (pageCurrent > 0 && pageCurrent < numSize)
                                        {
                                            <li class="page-item">
                                                <a class="" href="@Url.Action("TourCollection", "Home", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent+1})" tabindex="-1">Next</a>
                                            </li>
                                        } }
                                </ul>
                            </nav>
                        </div>
                        <!--//End-blog-pagenate-->
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </section>
</main>