
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-14">
            <div class="card">
                <div class="card-header">
                    Article Collection List
                </div>
                <div class="card-body">
                    <div class="card-header header-style">
                        @using (Html.BeginForm("Index", "ArticleCollection", FormMethod.Get))
                        {
                            <input type="text" name="txtSearch" placeholder="Search" />
                            <button type="submit" class="btn-warning-admin">Search</button>
                        }
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>User</th>
                                <th>Image</th>
                                <th>Article Title</th>
                                <th>Article Details</th>
                                <th>Created date</th>
                                <th>Collection date</th>
                                <th>Updated date</th>
                                <th>Article Owner</th>
                                <th>Edit</th>
                                <th>Details</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var article in ViewBag.Articles)
                            {

                            <tr>
                                <td>@i</td>
                                <td>@article.UserId</td>
                                <td>
                                    <img style="width: 100px; height: auto;" alt="@article.ArticleCollectionTitle" src="@Url.Content("~/Images/Article/" + @article.CollectionImage)" />
                                </td>
                                <td>@article.ArticleCollectionTitle</td>
                                <td>@article.ArticleCollectionDetails</td>
                                <td>@article.CreatedCol_at</td>
                                <td>@article.ArticleCollectionDate</td>
                                <td>@article.UpdatedCol_at</td>
                                <td>@article.ArticleColOwner</td>
                                <td><a href="@Url.Action("Edit","ArticleCollection",new {id=article.ArticleCollectionID})" class="badge badge-warning">Modify</a></td>
                                <td><a href="@Url.Action("Details","ArticleCollection",new { id = article.ArticleCollectionID })" class="badge badge-warning">Details</a></td>
                                <td><a href="@Url.Action("Delete","ArticleCollection",new {id=article.ArticleCollectionID})" class="badge badge-danger">Remove</a></td>

                            </tr>
                                i++;
                            }
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @{
                                    int position;
                                    int pageCurrent = ViewBag.pageCurrent;
                                    string txtSearch = ViewBag.txtSearch;
                                    float numSize = ViewBag.numSize;
                                    if (pageCurrent > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "ArticleCollection", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent-1 })" tabindex="-1">Previous</a>
                                        </li>
                                    }
                                    for (position = 1; position <= numSize; position++)
                                    {
                                        if (position == pageCurrent)
                                        {
                                            <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "ArticleCollection", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                                        }
                                        else
                                        {
                                            <li class="page-item"><a class="page-link" href="@Url.Action("Index", "ArticleCollection", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                                        }
                                    }
                                    if (pageCurrent > 0 && pageCurrent < numSize)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.Action("Index", "ArticleCollection", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent+1 })" tabindex="-1">Next</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
